<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-sm="100">
    <div class="element-options">
      <form class="login-form" [formGroup]="inputForm">
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field class="input-form-field" style="width: 100% !important;">
              <input autocomplete="off"
                     matInput
                     name="label"
                     type="text"
                     placeholder= "Label"
                     formControlName="label" required>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field class="input-form-field">
              <input autocomplete="off"
                     matInput name="name"
                     type="text"
                     placeholder="Name"
                     formControlName="name" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100" fxFlex.gt-sm="100">
            <!--InputType control-->
            <mat-form-field class="input-form-field">
              <mat-select placeholder="Type"
                          formControlName="inputType">
                <mat-option *ngFor="let type of inputTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div fxLayout="row">
        <div fxFlex="100" fxFlex.gt-sm="100">
          <!--Validators control-->
          <form [formGroup]="validationsForm">
            <section class="example-radio-group">
              <label class="example-radio-group vl-title">Validators</label>

              <div class="row">
                <div class="col-12 col-md-6">
                  <mat-checkbox (change)="activeInput('maxLengthValue', $event)" formControlName="maxLength" class="example-margin">
                    Max Length
                  </mat-checkbox>
                </div>
                <div class="col-12 col-md-6">
                  <mat-form-field class="input-control">
                    <input formControlName="maxLengthValue" matInput placeholder="">
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                  <mat-checkbox (change)="activeInput('patternValue', $event)" formControlName="pattern" class="example-margin">
                    Pattern
                  </mat-checkbox>
                </div>
                <div class="col-12 col-md-6">
                  <mat-form-field class="input-control">
                    <input formControlName="patternValue" matInput placeholder="">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <mat-checkbox (change)="activeInput('minLengthValue', $event)" formControlName="minLength" class="example-margin">
                    Min Length
                  </mat-checkbox>
                </div>
                <div class="col-12 col-md-6">
                  <mat-form-field class="input-control">
                    <input formControlName="minLengthValue" matInput placeholder="">
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                  <mat-checkbox formControlName="required" class="example-margin">
                    Required
                  </mat-checkbox>
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
